:root {

  /*** Custom **/
  --font-family-sans-serif: 'Poppins', sans-serif;
  --font-family-text:'Roboto', sans-serif;
  --font-family-heading: var(--font-family-sans-serif);

      /* Colors */
      --blue: #22abff;
      --green:#81bc26;
      --yellow: #e79300;
      --purple: #8b2a74;
      --info: #8b2a74;
      --black: #000000;
      --pink: #d24068;
      --purple2: #712363;
      --gray-dark: #4f4f4f;
      --white: #FFFFFF;
}
body{
  font-family: var(--font-family-text);
  font-weight: 300;
  font-size: 1.2rem;
}

.site-header{
  min-height:900px;
  background-image:url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-navigation a {
  color: var(--white);
  font-size:1.4rem;
}

.main-navigation a:hover {
  color:var(--yellow)
}

/* Event Info */

@media (min-width:768px){
  .event-info {
    margin-top: 15rem;
  }
}

.event-info p {
  color: var(--white);
  font-size: 1.8rem;
}

/* Event Numbers */

.event-numbers {
  color: var(--white);
}

.event-numbers .display-4 {
  font-size: 4rem;
  font-weight:700;
  line-height:.7;
  padding-bottom: 1rem;
}

.event-numbers > div {
  margin-bottom: 2rem;
}

@media (min-width:992px){
  .event-numbers .display-4 {
    font-size: 6rem;
  }
}



.event-numbers span {
  font-size: 2rem;
  font-weight:300;
}

.event-numbers span::before {
  content: '';
  display: table;
  clear: both;
}
/* Force each span to take its own line */

.event-numbers .conference{
  color:var(--yellow);
}
.event-numbers .workshops{
  color:var(--blue);
}
.event-numbers .days{
  color:var(--green);
}
